@font-face {
  font-family: Daydream;
  src: url(res/fonts/Daydream.ttf);
}
@font-face {
  font-family: Rainyhearts;
  src: url(res/fonts/rainyhearts.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Rainyhearts;
    image-rendering: pixelated;
    color: #2a202a;
    text-decoration: none;
}

:root {
    --bg: #d9d3d9;
    --fg: #2d494b;
    --text: #2a202a;
    --title1: #6f975e;
    --title2: #3b6b58;
    --sub: #3b6b58;
}
.dark {
    --bg: #2a202a;
    --fg: #2d494b;
    --text: #d9d3d9;
    --title1: #6f975e;
    --title2: #3b6b58;
    --sub: #c55650;
}
.secret {
    --fg: #8a2e3f ;
    --text: #8a2e3f ;
    --sub: #8a2e3f ;
}

body {
    background: var(--bg);

    .container {
        border: var(--fg) solid 5px;
        margin: 1rem;
        margin-bottom: 2rem;
        height: calc(100vh - 10px - 3rem);
        overflow: scroll;
        scrollbar-width: none;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: start;

        a {
            color: #c55650;
            font-size: 1.5rem;
            padding: 1rem;
        }

        .frogh {
            margin-top: 0;
            background-color: var(--fg);

            
            
            .about {
                display: flex;
                padding: 2rem;
                align-items: center;
                width: min(60rem, calc(100% - 4rem));
                margin: auto;
                @media all and (max-width:830px) {
                    flex-direction: column;
                    text-align: center;
                }

                img {
                    width: 15rem;
                    height: 15rem;
                }

                .text {
                    margin-left: 2rem;

                    h2 {
                        color: #c55650;
                        font-size: 4rem;
                    }
                    p span {
                        font-size: 1.5rem;
                        color: #d9d3d9;
                    }
                    p .category {
                        color:  #dec575;
                    }
                }
            }
        }
        
        .moreinfo {
            max-width: 60rem;
            margin: auto;
            margin-top: 0;
            padding: 2rem;
            text-align: center;

            h2 {
                font-size: 2rem;
                color: var(--sub);
            }
            p {
                font-size: 1.5rem;
                color: var(--text);
            }
        }
        
        .param {
            margin-top:auto;
            .singing-frog {
                width: 8rem;
                height: 8rem;
                margin-left: 1rem;
                cursor: pointer;
                background-image: url(res/img/singing-frogh-day.png);
                background-size: 16rem;
                background-color: transparent;
                border: none;
                animation: singing-frog 2s steps(2) infinite;
                
            }
            .singing-frog.night {background-image: url(res/img/singing-frogh-night.png);}
            .singing-frog.sleep {background-position-y: 100%;}
            .singing-frog.sing {background-position-y: 0%;}
        }
        
        footer {
            background-color: var(--fg);
            padding: 2rem;
            text-align: center;
            color: #d9d3d9;
            font-size: 1.5rem;
        }
    }
    .theme {
        position: absolute;
        bottom: 0.2rem;
        right: 1rem;
        font-size: 1.5rem;
        color: var(--text);
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

.secret .container {
    .param .singing-frog {visibility: hidden;}
    .frogh .about .text h2 {color: #d9d3d9;}
    .frogh .about .text .category {color: #d9d3d9;}
}

@keyframes singing-frog {
    0% { background-position-x:   0%; }
  100% { background-position-x: 200%; }
}
